* {
	margin: 0;
}

body {
    display: flex;
}

.root {
  display: flex; 
  justify-content: space-between;
  margin-right: 20px; 
}
.container, .container1, .container2, .container3, .container4, .container5 {
	font-size: 40px;
	text-align: center;
	font-family: sans-serif;
    width: 300px;
	display: flex;
	flex-direction: row;
	align-items: flex-center;
}

.container3 {
  flex-direction: column;
  width: 100px;
}

.container4 {
  align-items: center;
  align-self: center;
  width: 200px;
}

.container5 {
  flex-direction: column;
  width: 100px;
}

.container1 {
  flex-direction: column;
  align-items: center;
}

.box1 {
    background-color: red;
    width: 100px;
    height: 100px;
}

.box2 {
    background-color: green;
    width: 100px;
    height: 100px;
}

.box3 {
    background-color: gold;
    width: 100px;
    height: 100px;
}


